<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fullplate.frugal" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".view.StreamActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.StatisticsActivity"
            android:label="@string/action_statistics"
            android:screenOrientation="portrait"
            android:parentActivityName=".view.StreamActivity" >
            <!-- Parent activity meta-data to support 4.0 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.StreamActivity" />
        </activity>

        <activity
            android:name=".view.SettingsActivity"
            android:label="@string/action_settings"
            android:screenOrientation="portrait"
            android:parentActivityName=".view.StreamActivity" >
            <!-- Parent activity meta-data to support 4.0 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.StreamActivity" />
        </activity>

        <activity
            android:name=".view.HelpActivity"
            android:label="@string/action_help"
            android:screenOrientation="portrait"
            android:parentActivityName=".view.StreamActivity" >
            <!-- Parent activity meta-data to support 4.0 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.StreamActivity" />
        </activity>

    </application>

</manifest>
